$primary-color: #070707;
$grey-color: #828282;
$white-color: #ffffff;
$bg-color: #f6f6f6;

$primary-font: "Poppins", sans-serif;

$fw-bold: 700;
$fw-semi-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
