.portfolio {
  padding-top: 81px;
  padding-bottom: 81px;
  background-color: $bg-color;

  &__title {
    font-weight: $fw-semi-bold;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
  }

  &__title {
    margin-bottom: 65px;
  }

  &__list {
    text-align: center;
    text-align: center;
    font-weight: $fw-regular;
    font-size: 18px;
    line-height: 1.2;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__picture {
    display: block;
    text-align: center;
    margin-bottom: 33px;
  }
}
